name = "zheon"
# Pages 프로젝트 설정
pages_build_output_dir = ".svelte-kit/cloudflare"
# Workers 런타임 호환성 날짜
compatibility_date = "2025-05-05"
# Node.js 내장 API(예: async_hooks) 사용을 허용하려면 추가
compatibility_flags = ["nodejs_compat"]

# 환경 변수 설정
[vars]
PUBLIC_SUPABASE_URL = "https://iefgdhwmgljjacafqomd.supabase.co"
PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImllZmdkaHdtZ2xqamFjYWZxb21kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc4Mzc5NTcsImV4cCI6MjA2MzQxMzk1N30.VxInMB0yHya_AAGifZXmVWFkGDgxGFZx94F_GBURzsQ"


